.register-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.register-container__title {
  color: white;
  margin-bottom: 2rem;
}

.register-container__subtitle {
  color: white;
  margin-top: 1rem;
}

.register-container__image {
  position: absolute;
  background-image: url('/src/assets/bg-page.jpg');
  filter: blur(2px);
  opacity: .05;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.register-formCont {
  border-radius: 5px;
  padding: 1rem;
  background-color: #16a3b7;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.register-formCont__link {
  color: white;
  cursor: pointer;
  text-align: start;
}

.register-formCont__link:hover {
  text-decoration: underline;
}

.register-form-1 h3 {
  text-align: center;
  color: #fff;
}

.btnSubmit {
  width: 100%;
  border-radius: 5px;
  padding: .5rem;
  border: none;
  cursor: pointer;
}

.register-form-1 .btnSubmit {
  color: #fff;
  background-color: #272727;
}

.register-form-1 .btnSubmit:hover {
  background-color: #272727c3;
}

.register-form-1 .btnSubmit:active {
  background-color: #272727c3;
}

.register-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}